html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

table.minesweeper {
  border-collapse: collapse;
  table-layout: fixed;
}

table.minesweeper td {
  border: 1px solid white;
}

table.minesweeper caption {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.menu {
  padding: 5px;
  background-color: #a1c4fd;
  display: flex;
  justify-content: space-between;
}

.counter, .timer {
  padding: 0 5px;
  min-width: 50px;
  font-family: 'Orbitron';
  color: #a1c4fd;
  background-color: black;
}

.mine {
  color: white;
  text-align: center;
  font-family: sans-serif;

  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  padding: 5px;
  width: 30px;
  height: 30px;
}

.mine[data-state=revealed] {
  background-image: linear-gradient(120deg, #cfd9df 0%, #e2ebf0 100%);
}

.mine[data-state=flagged]::after {
  content: "🚩";
}

.mine[data-state=question]::after {
  content: "?";
  color: black;
  font-weight: bold;
}

.mine[data-mine-content=bomb]::after {
  content: "💣";
}

.mine[data-mine-content='1']::after {
  content: "1";
  color: blue;
}

.mine[data-mine-content='2']::after {
  content: "2";
  color: green;
}

.mine[data-mine-content='3']::after {
  content: "3";
  color: red;
}

.mine[data-mine-content='4']::after {
  content: "4";
  color: rebeccapurple;
}

.mine[data-mine-content='5']::after {
  content: "5";
  color: brown;
}

.mine[data-mine-content='6']::after {
  content: "6";
  color: olivedrab;
}

.mine[data-mine-content='7']::after {
  content: "7";
  color: crimson;
}
