{% extends "layout.html" %}

{% block firstLink %}
  <li><a href="/">Home</a></li>
{% endblock %}

{% block content %}
  <section class="game">
    <section class="difficulty-menu">
      {% include "difficulty-inputs.html" %}
    </section>
    <section class="game-menu">
      <div class="game-menu-buttons">
        <div class="center bombs-counter">35</div>
        <div class="center smiley"></div>
        <div class="center timer">000</div>
      </div>
      <img class="touch-action" data-action="reveal" src="../images/bxs-bomb.svg" alt="" hidden></img>
    </section>
    <section class="center table-container">
      <table class="minesweeper">
        <tbody></tbody>
      </table>
    </section>
  </section>
{% endblock %}

{% block scripts %}
  <script src="../js/index.js" type="module"></script>
{% endblock %}
