{% extends "layout.html" %}

{% block content %}
  <section class="intro">
    <p>
      This is an implementation of Minesweeper written in JavaScript.
    </p>
    <p>
      Since it is one of my favorite games, I used it as an inspiration to
      learn more about web development.
    </p>
    <p>
      I used Express on the backend, vanilla JavaScript and CSS on the
      frontend and PostgreSQL as the database.
    </p>
  </section>
  <section class="index-buttons center">
    <button>
      <a href="/game">Start game</a>
    </button>
    <button>
      <a href="/tutorial">Tutorial</a>
    </button>
  </section>
{% endblock %}
