{% extends "layout.html" %}

{% block content %}
  <section class="intro">
    <p>
      This is an implementation of Minesweeper written in JavaScript.
    </p>
    <p>
      Since it is one of my favorite games, I used it as an inspiration to
      learn more about web development.
    </p>
    <p>
      I used Express on the backend, vanilla JavaScript and CSS on the
      frontend and PostgreSQL as the database.
    </p>
  </section>
  <section class="play-game-button center">
    <button>Start game</button>
  </section>
{% endblock %}
