<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Minesweeper.js</title>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <nav>
      <h1><a href="/">Minesweeper.js</a></h1>
      <ul>
        {% block firstLink %}
          <li><a href="/game">Play</a></li>
        {% endblock %}
        {% if user %}
          <li><a href="/profile">Profile</a></li>
          <li><a href="/logout">Logout</a></li>
        {% else %}
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        {% endif %}
      </ul>
    </nav>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer class="center">
      <a class="center" href="https://github.com/phelipetls/Minesweeper.js">
        <img src="./images/bxl-github.svg" alt="">
      </a>
    </footer>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
