{% extends "layout.html" %}

{% block style %}
  <style>
    main {
      overflow: auto;
    }

    .leaderboards-table-container {
      overflow: auto;
    }
  </style>
{% endblock %}

{% block content %}
  <section class="leaderboards-filters">
    <h4 class="top-players">Top
      <label for="top-players"></label>
      <input id="top-players" name="top-players" type="number" value="10" step="10">
      players
    </h4>

    <div class="leaderboards-selects">
      <div>
        <label for="difficulty">Difficulty:</label>
        <select id="difficulty" name="difficulty">
          <option value="easy" selected>Easy</option>
          <option value="medium">Medium</option>
          <option value="hard">Hard</option>
          <option value="custom">Custom</option>
          <option value="random">Random</option>
        </select>
      </div>

      <div class="leaderboard-period">
        <label for="">Last:</label>
        <div>
          <input id="date-offset" name="date-offset" type="number" value="1">
          <select id="date-interval">
            <option value="day">Day</option>
            <option value="week" selected>Week</option>
            <option value="month">Month</option>
            <option value="year">Year</option>
            <option value="all-time">All time</option>
          </select>
        </div>
      </div>
    </div>
  </section>

  <section class="leaderboards-table-container">
    <table class="sortable-table leaderboards-table" hidden>
      <thead>
        <th data-sort="none" style="width: 50%;" scope="col">Player</th>
        <th data-sort="none" scope="col">Time</th>
        <th data-sort="none" scope="col">Width</th>
        <th data-sort="none" scope="col">Height</th>
        <th data-sort="none" scope="col">Bombs</th>
      </thead>
      <tbody>
      </tbody>
    </table>

    <div class="not-found" hidden>
      <p>
        Nobody played during this time :(
      </p>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script src="../js/sortable-table.js"></script>
  <script src="../js/leaderboards.js"></script>
{% endblock %}
