{% extends "layout.html" %}

{% block content %}
  <section class="authentication">
    <form method="post">
      <div class="form-input">
        <label for="username">Username:</label>
        <input id="username" name="username" type="text" required>
      </div>
      <div class="form-input">
        <label for="password">Password:</label>
        <input id="password" name="password" type="password" required>
      </div>
      <button type="submit">Login</button>
    </form>

    <div class="authentication-info">
      Not registered yet? <a href="/register">Sign up</a>
    </div>

    {% if messages.error %}
      <div class="error">
        {{ messages.error }}
      </div>
    {% endif %}

  </section>
{% endblock %}
