{% extends "layout.html" %}

{% block content %}
  <h1 class="user">{{ user.name | capitalize }}</h1>
  <table class="game-stats">
    <thead>
      {% for field in fields %}
        <th scope="col">{{ field }}</th>
      {% endfor %}
    </thead>
    <tbody>
      {% for level, total, wins, win_pct, best_time, worst_time, avg_time in rows %}
        <tr>
          <th scope="row">{{ level | capitalize }}</td>
          <td>{{ total }}</td>
          <td>{{ wins }}</td>
          <td>{{ win_pct }}</td>
          <td>{{ best_time }}</td>
          <td>{{ worst_time }}</td>
          <td>{{ avg_time | round(3) }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script src="../js/profile.js"></script>
{% endblock %}
