:root {
  --white: #e9e9e9;
  --light-grey: #f3f3f3;
  --grey: #dcdcdc;
  --dark-grey: #777;
  --black: #111111;
  --red: #ff4136;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*:before,
*::after {
  box-sizing: inherit;
}

/* Body
   ========================================================================== */

body {
  height: 100%;
  max-width: 680px;
  margin: 0 auto;

  display: flex;
  flex-flow: column;
}

body > * {
  padding: 0 1em;
}

/* Navigation bar
   ========================================================================== */

nav {
  display: flex;
  flex-flow: row wrap;
}

nav h1 {
  flex: 1;
  font-weight: normal;
  color: var(--dark-grey);
}

nav ul {
  padding: 0;
  list-style: none;

  display: flex;
  flex-flow: row;
  align-items: center;
}

nav a {
  color: var(--dark-grey);
  text-decoration: none;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  padding: 10px;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Main content
   ========================================================================== */

main {
  flex: 1;

  display: flex;
  flex-flow: column;
}

section.intro {
  flex: 2;
}

section.index-buttons {
  flex: 1;

  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

/* Game components
   ========================================================================== */

.game {
  display: flex;
  flex-flow: column;
  height: 100%;
}


/* Difficulty parameters
   ========================================================================== */

section.difficulty {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

div.custom-difficulty-params {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 680px) {
  div.custom-difficulty-params {
    flex-flow: column;
  }
}

.difficulty-param {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.difficulty-param label {
  width: 4em;
  text-align: right;
  color: var(--dark-grey);
}

.difficulty-param input {
  margin: 0 10px;
  width: 4em;
}

.difficulty-param input:nth-last-child(1) {
}

/* Game menu
   ========================================================================== */

.game-menu {
  margin: 10px 0;
  padding: 10px;
  background-color: var(--grey);

  display: flex;
  justify-content: space-between;

  box-shadow: 1px 1px var(--dark-grey);
}

.touch-action {
  cursor: pointer;
  width: 24px;
  height: 24px;
  outline: 1px solid var(--dark-grey);
  outline-offset: 2px;
}

.game-menu-buttons {
  flex: 1;

  display: flex;
  justify-content: space-around;
}

.game-menu-buttons > *:before {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
}

.smiley {
  cursor: pointer;
}

.smiley[data-mood='normal'] {
  background: url('../images/bx-smile.svg') no-repeat;
}

.smiley[data-mood='sad'] {
  background: url('../images/bx-dizzy.svg') no-repeat;
}

.smiley[data-mood='cool'] {
  background: url('../images/bx-cool.svg') no-repeat;
}

.counter:before {
  background-image: url("../images/bxs-bomb.svg");
  margin-right: 3px;
}

.timer:before {
  background-image: url("../images/bx-time.svg");
  margin-right: 3px;
}

/* Minesweeper
   ========================================================================== */

.table-container {
  flex: 1;
}

.square {
  text-align: center;
  background-color: var(--grey);
  box-shadow: inset 2px 2px var(--white),
              1px 1px var(--dark-grey);
}

.square[data-state='revealed'] {
  background-color: var(--light-grey);
}

.square:before {
  content: attr(data-square-content);
}

.square[data-state='flagged'] {
  background: url("../images/bxs-flag-alt.svg") no-repeat;
}

.square[data-state='question'] {
  background: url("../images/bx-question-mark.svg") no-repeat;
}

.square[bomb] {
  background: url("../images/bxs-bomb.svg") no-repeat;
}

.square[data-square-content="1"]:before {
  color: blue;
}

.square[data-square-content="2"]:before {
  color: green;
}

.square[data-square-content="3"]:before {
  color: red;
}

.square[data-square-content="4"]:before {
  color: purple;
}

.square[data-square-content="5"]:before {
  color: maroon;
}

.square[data-square-content="6"]:before {
  color: cyan;
}

.square[data-square-content="7"]:before {
  color: black;
}

.square[data-square-content="8"]:before {
  color: gray;
}

/* Footer
   ========================================================================== */

footer {
  margin: 1em 0;
}

footer a {
  padding: 0 0.3em;
}

/* Authentication
   ========================================================================== */

.authentication {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

div.authentication-info {
  margin: 2em;
}

form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.form-input {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.form-input label {
  width: 6em;
  text-align: right;
  padding-right: 5px;
}

form button {
  align-self: stretch;
}

/* Popup
   ========================================================================== */

.popup {
  padding: 10px;
  border: 1px solid var(--black);
  border-radius: 10px;
  background-color: var(--light-grey);
}

.popup .buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Inputs, buttons, select etc.
   ========================================================================== */

button, select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

input, button, select {
  border: 1px solid var(--grey);
  border-radius: .5em;
}

input, button {
  padding: 0.5em;
}

button {
  background-color: var(--grey);
  cursor: pointer;
}

button:hover {
  color: var(--white);
  background-color: var(--dark-grey);
}

button a {
  color: inherit;
  text-decoration: none;
}

select {
  padding: 0.5em;
  padding-right: 1em;
  background: url("../images/bx-chevron-down.svg") no-repeat center right / 24px 24px;
}

/* Tables (for game statistics)
   ========================================================================== */

h1.user {
  color: var(--dark-grey);
  text-align: center;
}

table.game-stats {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid var(--light-grey);
  margin: 0 auto;
}

.game-stats thead {
  padding: 10px;
  background-color: var(--grey);
}

.game-stats th {
  color: var(--black);
  text-align: center;
}

.game-stats thead th {
  cursor: pointer;
  padding-right: 20px;
}

.game-stats thead th[data-sort='none'] {
  background: url("../images/bx-caret-up.svg") no-repeat top 40% right / 1rem,
              url("../images/bx-caret-down.svg") no-repeat bottom 40% right / 1rem;
}

.game-stats thead th[data-sort='asc'] {
  background: url("../images/bx-caret-down.svg") no-repeat center right / 1rem;
}

.game-stats thead th[data-sort='desc'] {
  background: url("../images/bx-caret-up.svg") no-repeat center right / 1rem;
}

.game-stats tbody th {
  text-align: left;
}

.game-stats td,
.game-stats tbody th {
  border: 1px solid var(--light-grey);
}

.game-stats tbody td {
  text-align: center;
}

.game-stats th,
.game-stats td {
  padding: 5px;
}

/* Miscellaneous
   ========================================================================== */

.error {
  width: 50%;
  margin: 2px;
  padding: 5px;
  text-align: center;
  background-color: var(--red);
  border: 1px solid red;
  border-radius: 10px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
