html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
}

.sans {
  font-family: sans-serif;
}

body {
  display: flex;
  flex-flow: column;
}

header {
  flex: 0;
}

header h1 {
  text-align: center;
}

main {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
}

.game {
  flex: 1;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.menu {
  flex: 0 50px;
  font-size: 2em;
  width: 100%;
  background-color: #a1c4fd;
  padding: 5px;

  display: flex;
  flex-flow: row wrap;
}

.game-menu {
  justify-content: space-between;
}

.smiley {
  cursor: pointer;
}

.counter::before {
  content: "🚩";
}

.timer::before {
  content: "🕒";
}

.minesweeper-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.minesweeper {
  table-layout: fixed;
  border-collapse: collapse;
}

.minesweeper tr {
  display: flex;
}

.minesweeper td {
  font-family: sans-serif;
  padding: 2px;
  border: 1px solid white;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

  /* Center character within table cell,
   * vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;
}

.difficulty-menu {
  font-size: 1em;
  font-family: sans-serif;
  gap: 5px;
  justify-content: space-around;
}

.params {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.param {
  display: flex;
  align-items: center;
}

.param label {
  margin: 0 5px 0 10px;
}

.param input[type='number'] {
  width: 60px;
}

.square[data-state=revealed] {
  background-image: linear-gradient(120deg, #cfd9df 0%, #e2ebf0 100%);
}

.square[data-state=flagged]::after {
  content: "🚩";
}

.square[data-state=question]::after {
  content: "?";
  color: black;
  font-weight: bold;
}

.square[data-square-content=bomb]::after {
  content: "💣";
}

.square[data-square-content='1']::after {
  content: "1";
  color: blue;
}

.square[data-square-content='2']::after {
  content: "2";
  color: green;
}

.square[data-square-content='3']::after {
  content: "3";
  color: red;
}

.square[data-square-content='4']::after {
  content: "4";
  color: purple;
}

.square[data-square-content='5']::after {
  content: "5";
  color: maroon;
}

.square[data-square-content='6']::after {
  content: "6";
  color: cyan;
}

.square[data-square-content='7']::after {
  content: "7";
  color: black;
}

.square[data-square-content='8']::after {
  content: "8";
  color: gray;
}

.new-game-popup {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  font-family: sans-serif;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 10px;
}

.confirm-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.confirm-buttons button {
  color: black;
  cursor: pointer;
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 10px;
}
